In [1]:
print("Name: manoj naik")
print("USN: 1AY24AI067")
print("Section: o")
def collatz_sequence(n):
    sequence = [n]
    while n != 1:
        if n % 2 == 0:
            n = n // 2
        else:
            n = 3 * n + 1
        sequence.append(n)
    return sequence
number = 6
print(collatz_sequence(number))

Name: manoj naik
USN: 1AY24AI067
Section: o
[6, 3, 10, 5, 16, 8, 4, 2, 1]